@using FileManager.Models;
@model FolderContent

<div>
    @{
        var totalCount = @Model.Files.Count + @Model.Folders.Count;
        const int line = 7;
        var i = 0;
    }  

   
        @foreach (var folder in Model.Folders)
        {
            <div class="FoldersIcons" ondblclick="OpenFolder('@folder.fullName')">@Html.Partial("FolderIcon",folder.name)</div>
            

        }

        @foreach (var file in Model.Files)
        {
            <div class="FoldersIcons">@Html.Partial("FileIcon",file.name)</div>
           

        }

    
    
</div>