
@using MvcContrib;

<script type="text/javascript" src="@Url.Resource("Scripts.jquery.jstree.js")"></script>
<script type="text/javascript" src="@Url.Resource("Scripts.Uploadify.jquery.uploadify-3.1.min.js")"></script>
<link type="text/css" rel="stylesheet" href="@Url.Resource("Scripts.Uploadify.uploadify.css")" />
<link type="text/css" rel="stylesheet" href="@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/jQuery/jsTree/themes/default/style.css")" /> 

@*<link type="text/css" rel="stylesheet" href="@Url.Resource("Content.default.style.css")" /> *@



    <div id="MainTree" class="demo">
        

    </div>

<script type= "text/javascript">

    $(function () {
        $("#MainTree")
//        .bind("loaded.jstree", function (e, data) {
//            data.inst.open_all('#pjson_0'); // -1 opens all nodes in the container
//        })
        .jstree({
            "json_data": {
                "ajax": {
                    "type": "POST",
                    "url": 
                    function (node) {
                        var url = '';
                        if (node == -1) {
                            url = '@Url.Action("GetTreeData")';
                        }
                        else {
                            var nodeId = node.attr('id');
                            url = '@Url.Action("GetChildreenTree")?dir=' + nodeId;
                        }

                        return url;
                    },
                    "data": function (n) {
                        return { ID: n.Attr ? n.Attr("ID") : 0 };
                    }
                }
            },
            "dnd": {
                "drop_target": false,
                "drag_target": false
            },
            
            "core": { "initially_open": ["/Portals"] },

            "plugins": ["themes", "contextmenu", "json_data", "ui", "crrm", "dnd", "core"]
        }).bind("select_node.jstree", function (event, data) {

            var folder = data.rslt.obj.attr("id");
            var folderReplace = folder.replace(/\//g, "\\/");
            $("#MainTree").jstree("open_node", $('#' + folderReplace));

            LoadFoldersContent(folder, true);
            
        });
        

    });

    $('#MainTree').bind("move_node.jstree", function (e, data) {
        data.rslt.o.each(function () {
            $.ajax({
                async: false,
                type: 'POST',
                url: '@Url.Action("MoveData")',
                data: {
                    "path": $(this).attr("id"),
                    "destination": data.rslt.np.attr("id")
                //},
                //success: function (r) {
                //   Refresh();
                }
            });
        });
    });

    //$('#MainTree').bind("create.jstree", function (e, data) {
    //    $.post(
	//			"/Home/CreateFolder",
	//			{
	//			    "path": data.rslt.parent.attr("id"),
	//			    "newname": data.rslt.name
	//			},
	//			function (r) {
	//			    Refresh();
	//			}
	//		);
    //});


    //$("#MainTree").bind("open_node.jstree close_node.jstree", function (e) {

    //    var heigth = $('#MainTree').children(":first").height();
    //    alert(heigth);
    //    $("#MainTree").height(heigth);
        
    //});

    function LoadFoldersContent(dir, addToPush) {

        $.ajax({
            type: 'POST',
            url: '@Url.Action("ViewFilesFromFolder")',
            data: {
                "folder": dir
            },
            success: function (folderView) {
                $('#FilesTreeFiles').html(folderView);
                if (addToPush) {
                    BackNode++;
                    Backstack[BackNode] = dir;
                    
                    //Backstack.splice(BackNode, Backstack.length - BackNode);
                    
                }
                LastNode = dir;
                $('#dirNameHidden').val(dir);
            }
        });

        $('#dirName').val(dir);

    }


    function OpenFolder(folder) {

        var folderReplace = folder.replace(/\//g, "\\/");
        $("#MainTree").jstree("open_node", $('#' + folderReplace));
        LoadFoldersContent(folder, true);

    }


    var Backstack = new Array();
    //var AheadStack = new Array();
    var LastNode;
    var BackNode = -1;

    function goBack() {

        if (Backstack.length > 0 && BackNode > 0) {
            
            // Backnode apunta a la posicion acutal
            BackNode--;
            var dir = Backstack[BackNode];
            LoadFoldersContent(dir, false);
        }
  
    }
    
    function goNext() {

        if (Backstack.length > 0 && BackNode > -1 && BackNode < Backstack.length -1) {

            // Backnode apunta a la posicion acutal
            BackNode++;
            var dir = Backstack[BackNode];
            LoadFoldersContent(dir, false);
        }

    }

    $(function() {

        $('#FileUpload').uploadify({
            'swf': '@Appleseed.Framework.HttpUrlBuilder.BuildUrl("~/aspnet_client/Uploadify/uploadify.swf")',
            'buttonImage': '@Url.Resource("Content.UploadFile.png")',
            //'buttonText': 'Buscar...',
            'uploader': '@Url.Action("UploadFile")',
            'width': 40,
            //'folder': '/uploads',
            'formData': { 'folderName': ''},
            //'auto': true,
            //'multi': false,
            'onUploadStart': function (file) {
                $("#FileUpload").uploadify("settings", "formData", { 'folderName': LastNode });
            }
            //'onUploadSuccess': function (file, data, response) {
            //    alert('success');
            //}
        });

    });
    

</script>
